.card {
    width: 350px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 2rem auto;
  }
  
  .form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .formTitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .inputContainer {
    position: relative;
  }
  
  .inputContainer input,
  .inputContainer textarea,
  .submit {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .inputContainer input,
  .inputContainer textarea {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }
  
  .heading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .post {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .description {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  .deleteButton,
  .editButton {
    background-color: #ff4d4d;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  
  .editButton {
    background-color: #4F46E5;
  }
  